.sidebar {
    background-color: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.sidebar .banner {
    width: 100%;
    height: 72px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.sidebar .profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1.5rem;
    line-height: 1.8rem;
}

.sidebar .profile strong {
    color: var(--gray-100);
    font-size: 0.875rem;
    line-height: 1.6;
}

.sidebar .profile img {
    z-index: 2;
    margin: 2.5rem 0 1rem 0;
}

.sidebar footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

.sidebar .button {
    display: inline-block;

    padding: 1rem 1.5rem;
    border: 1px solid var(--green-500);
    border-radius: 8px;

    text-decoration: none;
    color: var(--green-500);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition: color 0.1s, background-color 0.1s;
}

.sidebar .button:hover {
    background: var(--green-500);
    color: var(--white);
  }